body, html {
	margin: 0;
	padding: 0;
	background: #2a8975; /* rgb(42,137,117) */
	color: white;				
	font-size: 18px;
	line-height: 24px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrap {
	width: 1024px;
	height: 768px;
	position: absolute;
}

a {
	color: white;
}

a:visited {
	color: #e0e0e0;
}

h1 {
	margin: 20px 0;
	padding: 0;
}

#logo {
	display: block;
	margin: 0 auto;			
}

#playfield {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
}

#playfieldLogo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -61px 0 0 -107px;
}

#friedolin {
	position: absolute;
	bottom: 25px;
	right: 25px;
}

#hhb, #pigs, #static, #birdFaces, #eastReport, #westReport {
	position: absolute;
	background: transparent; 
	display: block;
	margin: 0px auto;
}

#static {
	background: #e0e0e0; /* TODO make this white once circular playfield is set up */
}

b.feedback {
	position: absolute;
	top: 20px;
	background: rgba(0,0,0, .25);
	-webkit-border-radius: 8px;
	color: white;
	text-shadow: #222 3px 3px 7px;
	display: block;
	text-align: center;
	font-family: sans-serif;
	padding: 16px 24px 18px;
	font-size: 36px;
}

#eScore {
	right: 20px;
}

#wScore {
	left: 20px
}

#victor {
	visibility: hidden;
	text-align: center;
	width: auto;
	left: 50%;
	font-size: 24px;
	top: 28px;
	padding: 10px 16px 12px;
	font-weight: normal;
}

#mask {
	position: absolute;
	width: 1024px;
	height: 768px;
	background: rgba(42,137,117, .76);
	-webkit-transition: -webkit-transform ease-in-out 700ms;
	-webkit-transform: scale(1) rotate(0deg);
}

#mask.offscreen {
	-webkit-transform: scale(0) rotate(-310deg);
}

#details {
	position: absolute;
	top: 175px;
	left: 50%;
	width: 420px;
	background: white;
	color: #333;
	text-align: center;
	padding: 20px 30px;
	margin: 0 0 0 -240px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: #555 0 0 20px 4px;
}

h1 {
	margin: 0; 
	padding: 0;
}

p {
	margin: 20px 10px;
	padding: 0;
}

#disclaimer {
	text-align: center;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	color: #555;
	margin: 30px 0 0;
}

#start {
	border: none;
	display: block;
	margin: 24px auto 18px;
	font-size: 24px;
	padding: 8px 0 12px;
	width: 50%;
	-webkit-border-radius: 1000px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0.0))), #1c3494;
	color: white;
	text-shadow: #222 1px 1px 2px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0, .5);
}
			
#start:hover {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0.1))), #1c3494;
}

#start:active {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0.0))), #1c3494;
}

#start:focus {
	outline: none;
}