body, html {
	margin: 0;
	padding: 0;
	background: #2a8975; /* aka rgb(42,137,117), angry birds teal. angry birds yellow = #ffd308 */
	color: white;
	font-size: 18px;
	line-height: 24px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow: hidden;
	height: 100%
	width: 100%;
}

#wrap {
	width: 800px;
	height: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

b.score {
	font-family: 'Courier New', monospace;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #bf0000;
	text-shadow: 1px 1px white;
	transition-property: transform, scale, opacity;
	transition-duration: 750ms;
	transition-delay: 0;
	transform: translateZ(0);
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
}

b.score.transition {
	opacity: 0;
	transform: scale(2) translateY(-30px) translateZ(0);
}

a {
	color: white;
}

a:visited {
	color: #e0e0e0;
}

h1 {
	margin: 20px 0;
	padding: 0;
}

#logo {
	display: block;
	margin: 0 auto;
}

#playfield {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 800px;
}

#playfieldLogo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#hhb, #pigs, #static, #birdFaces, #eastReport, #westReport {
	position: absolute;
	background: transparent;
	display: block;
	margin: 0px auto;
}

#static {
	background: #e0e0e0; /* TODO make this white once circular playfield is set up */
}

b.feedback {
	position: absolute;
	background: rgba(0,0,0, .25);
	-border-radius: 8px;
	color: white;
	text-shadow: #222 3px 3px 7px;
	display: block;
	text-align: center;
	font-family: sans-serif;
	padding: 16px 24px 18px;
	font-size: 36px;
}

#nScore, #sScore {
	left: 50%;
	transform: translateX(-50%);
}

.playerLabel + .playerLabel {
	margin-left: 20px;
}


#nScore {
	top: -70px;
}

#sScore {
	bottom: -70px;
}

#eScore, #wScore {
	top: 50%;
	transform: translateY(-50%);
}


#eScore {
	right: -80px;
}

#wScore {
	left: -80px
}

#victor {
	visibility: hidden;
	text-align: center;
	width: auto;
	left: 50%;
	font-size: 24px;
	top: 28px;
	padding: 10px 16px 12px;
	font-weight: normal;
}

#mask {
	position: absolute;
	width: 800px;
	height: 800px;
	background: rgba(42,137,117, .76);
	transition: transform ease-in-out 700ms;
	transform: scale(1) rotate(0deg);
}

#mask.offscreen {
	transform: scale(0) rotate(-310deg);
}

#details {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 420px;
	background: white;
	color: #333;
	text-align: center;
	padding: 20px 30px;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	box-shadow: #555 0 0 20px 4px;
}

h1 {
	margin: 0;
	padding: 0;
}

p {
	margin: 20px 10px;
	padding: 0;
}

#disclaimer {
	text-align: center;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	color: #555;
	margin: 30px 0 0;
}

button {
	-webkit-appearance: none;
	border: none;
	display: inline-block;
	vertical-align: middle;
	margin: 24px auto 18px;
	font-size: 20px;
	padding: 8px 20px 12px;
	border-radius: 1000px;
	background: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,0.0)), #1c3494;
	color: white;
	text-shadow: #222 1px 1px 2px;
	box-shadow: 0 2px 4px rgba(0,0,0, .5);
	-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:hover {
	background: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,0.1)), #1c3494;
}

button:active {
	outline: none;
	background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.0)), #1c3494;
}

button:focus {
	outline: none;
}

#song {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -150px;
	transition: bottom 300ms ease
}

#song.hidden {
	bottom: -40px;

}

.twoPlayer #nScore,
.twoPlayer #sScore {
	display: none;
}

